.el-submenu__title {
  height:50px;
  line-height:50px;
}


.el-tooltip__popper{
  .tool-tip-content {
    @include wrapText();
    max-width:400px;
  }
}

.el-menu .el-menu-item.is-active {
  border-right:3px solid $primaryColor;
  background-color: $primaryBgColor;
}

.el-table.el-table--mini {
  font-size:$fontNormal ;
  .cell {
    line-height:1.5;
  }
}
.el-table.el-table--mini .el-table__cell {
  padding:0px;
}
.el-table.el-table--mini .el-table__header .el-table__cell {
  height:3em;
}
.el-pagination {
  padding:0.5em 5px !important;
  background-color: #fff;
}
.el-dialog .el-dialog__footer {
  text-align: center;
}
.el-form-item__label {
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}
