$primayBg:#f3feff;
$--color-primary:#55aeb1;
$--menu-item-hover-fill:$primayBg;
$--table-current-row-background-color:$primayBg;
$--dropdown-menuItem-hover-fill:$primayBg;
$--table-border-color:#d7d7d7;
$--table-header-font-color:#555;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
